.footer-top {
    background-color: #344b59;

    h2 {
        color: white;
    }

    p {
        color: white;
        padding: 40px 0 60px 0;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        width: 65%;
        padding: 20px;
        padding: 20px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1300px) {
    .footer-container {
        width: 80% !important;
    }
}



@media only screen and (max-width:991px) {
    .footer-container {
        width: 100% !important;
    }
}