.formwrapp{
    display: flex;
    flex-direction: column;
    background-color: #344b59;
    padding: 3em 3.5em;
    margin-top: 15px;
  }
  
  .willvolunter{
    display: flex;
    flex-direction: column;
  }
  
  
  label{
    color: white;
  }
  
  .formwrapp .rowinput .row div{
    display: flex;
    flex-direction: column;
  
  }
  
  .inptext{
    width: 100%;
    background: #fff;
    border: 0 none;
    border-radius: 4px;
    box-shadow: none;
    color: #000;
    font-family: "ff-tisa-web-pro","Droid Serif",serif;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 8px;
  
  }
  
  textarea:focus, input:focus, select:focus {
    border-color: #f1415c;
    outline: 0;
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #f1415c !important;
  }
  
  
  input:hover{
    box-shadow: 0 0 3px rgba(151, 27, 27, 0.5) !important;
  }
  
  .rowfluid{
    display: flex;
    flex-direction: column;
  }
  .linked-signup-name{
    color:white;
  }
  
  textarea {
    background: #fff;
    border: 0 none;
    border-radius: 4px;
    box-shadow: none;
    color: #000;
    font-family: "ff-tisa-web-pro","Droid Serif",serif;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 8px;
    width: 100%;}
  
    .submitbutton{
      
        cursor: pointer;
        display: block;
        background: #f1415c;
        border-radius: 3px;
        padding: 1em;
        margin: 20px auto 10px;
        border: 0 none;
        font: 16px "proxima-nova",Arial,Helvetica,sans-serif normal;
        color: #fff;
        min-height: 39px;
        text-align: center;
        text-shadow: rgba(0,0,0,0.2) 0 1px;
        border: 0;
    
    }

   
  
  .breadcrumbs  li a{
    color: #f1415c;
    

  }
  li{
    list-style-type: none;
    
    background-color:#495e6a;
    
  
    
  }
  .breadcrumbs {
    margin-top: 15px;
    padding: 8px 15px ;
    list-style: none;
    background: rgba(255,255,255,0.1);
    border: 0 none;
    width: 110px;
    height: 40px;
    margin-left: 0px !important;

    
  }
  
  .width-container{
      background-color: #344b59;
      margin-top: -42px;
      margin-bottom: 20px;
  }

.breadcrumbs  li a:hover {
  text-decoration: none;}

  .breadcrumbs  li a{
  color: #f1415c;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-shadow: none;}
  
  .headline{
    color: white;
    margin: 0 0 15px;
    padding: 0 0 40px 66px;
  }

  .slider-card{
    width: 331.74px;
     margin-right: 0px;
    position: relative;
  }

  
  img{
    border:"0";
     alt:"alexandra baginski";
     margin-right: .7em;
  
  }

  .slider-card-profile{
    background-color:  #344b59;
    animation-name: example;
    animation-duration: 1s;
  }

  
  @keyframes example {
    0%   { transform: translate(100%,0)}
    100% { transform: translate(0%,0)}
  }