.nav-link {
    margin: 0 10px;

    &:hover {
        background-color: #e3eff4;
        color: #f1415c !important;
        transition: .5s;
    }
}

.navbar-toggler {
    margin-right: 100px;
}

.header {
    position: relative;
    background-color: white;

    .active {
        background-color: #e3eff4;
        color: #f1415c !important;
    }

    width: 80%;
    margin: 20px auto;
    padding: 20px 0;

    #navbarNav {
        position: relative;

        .navbar-nav {
            position: absolute;
            right: 0;
        }
    }

    .navbar-toggler {
        background: #f1415c;

        .fa-bars {
            color: white;
            font-size: 30px;
        }
    }


    .navbar-brand {
        img {
            max-width: 290px;
            max-height: 130px;
        }
    }
}

@media only screen and (max-width:1300px) {
    .header {
        width: 90%;
    }
}



@media only screen and (max-width:991px) {
    .header {
        width: 100%;
    }

    #navbarNav {
        .navbar-nav {
            position: relative !important;
            width: 100%;
            background-color: white;
            text-align: center;
        }
    }
}