.scrolled {
    position: fixed;
    top: 322px;
    right: 0;
    z-index: 100;
    transition: .4s;
}

.scrolled2 {
    position: fixed;
    top: 236px;
    right: 0;
    z-index: 100;
    transition: .4s;

}